.buttons-container {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
  }
  
  a.button {
    display: inline-block;
    padding: 30px 20px;
    margin: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(67, 67, 170);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  a.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  